@model PgnViewerWeb.ViewGameViewModel
@using System.Collections.Generic;
@{
    var currentMovePlayer = Model.Game.FirstPlayer;
    var currentMoveIndex = 1;
    string currentId = null;
}

@section inhead{
    <link rel="stylesheet" href="/examples/example.css">
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/theme.css">
    <link rel="stylesheet" href="/assets/desktop.css">
    <link rel="stylesheet" href="/css/ViewGame.css">
}

<table>
    <tr>
        <td>
            <section>
                <div id="gameProperties">
                    <span>@Model.Game.Event</span><br/>
                    <span>@Model.Game.White </span>  vs. <span>@Model.Game.Black </span>
                    (<span id="gameResult">@Model.Game.Result</span>)
                </div>

                <div class="chessground normal blue cburnett" id="ground7"></div>

                <div>
                    <ul id="gameControls">
                        <li><span onclick="MoveTo(null, 0);">&lt;&lt;</span></li>
                        <li><span onclick="MovePrevious();">&lt;</span></li>
                        <li><span onclick="MoveNext()">&gt;</span></li>
                        <li><span onclick="MoveTo(null, @Model.Game.Moves.Count()); ">&gt;&gt;</span></li>
                    </ul>
                </div>
            </section>
        </td>
        <td>
            <span id="maingame" data-moves="@Model.MovesAsJson" data-fen="@Model.Game.Fen" data-pgn="@Model.Game.Pgn" data-firstplayer="@Model.Game.FirstPlayer">
                <ul id="moveList" class="moveList" style="overflow-y:scroll">
                    @for (var mindex = 0; mindex < Model.Game.Moves.Count(); mindex++) {
                        @if (mindex == 0 && string.Equals("black", Model.Game.FirstPlayer, StringComparison.OrdinalIgnoreCase)) {
                            WriteLiteral("\r\n<li class=\"moveItem\">\r\n");
                            <span class="moveId">1</span>
                            <span class="move">..</span>
                        }

                        @if (string.Equals("white", currentMovePlayer, StringComparison.OrdinalIgnoreCase)) {
                            WriteLiteral("\r\n<li class=\"moveItem\">\r\n");
                            <span class="moveId">@currentMoveIndex</span>
                            <span id="@string.Format("move{0}",@Model.Game.Moves[mindex].Id)" class="move" onclick="MoveTo(this, @Model.Game.Moves[mindex].Id)">@Model.Game.Moves[mindex].Move.ToString()</span>
                        }

                        @if (string.Equals("black", currentMovePlayer, StringComparison.OrdinalIgnoreCase)) {
                            <span id="@string.Format("move{0}",@Model.Game.Moves[mindex].Id)" class="move" onclick="MoveTo(this, @Model.Game.Moves[mindex].Id)">@Model.Game.Moves[mindex].Move.ToString()</span>
                            WriteLiteral(@"</li>");
                            currentMoveIndex++;
                        }

                        @* update currentMovePlayer *@
                        if (string.Equals("white", currentMovePlayer, StringComparison.OrdinalIgnoreCase)) {
                            currentMovePlayer = "black";
                        }
                        else {
                            currentMovePlayer = "white";
                        }
                    }
                </ul>
            </span>
        </td>
    </tr>
</table>

<a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@string.Format("{0}",Model.Index-1)"> &lt; Previous (@string.Format("{0}", Model.Index - 1))</a> | 
<a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@string.Format("{0}",Model.Index+1)">> Next (@string.Format("{0}",Model.Index+1)) </a>
    @section scripts{
        <script src="/chessground.js"></script>
        <script src="/examples/chess.min.js"></script>
        <script src="/lib/enquire/dist/enquire.js"></script>
        <script src="/js/ViewGame.js"></script>
    }
