@model PgnViewerWeb.ViewFileViewModel
@using System.Collections.Generic;


@section inhead{
    @*<link rel="stylesheet" href="/examples/example.css">*@
    <link rel="stylesheet" href="/css/ViewFile.css">
}

<table id="gameTable">
    <thead>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;Event</td>
            <td>White</td>
            <td>Black</td>
            <td>Result</td>
        </tr>
    </thead>
    <tbody>
        @for (int index = 0; index < Model.Games.Count(); index++) {
            var className = "gameRow1";
            if(index % 2 == 1) {
                className = "gameRow2";
            }
        <tr class="@className">
            <td><a class="tableCounter" asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@index">@Model.Games[index].Event</a></td>
            <td><a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@index">@Model.Games[index].White</a></td>
            <td><a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@index">@Model.Games[index].Black</a></td>
            <td><a asp-controller="PgnViewer" asp-action="ViewGame" asp-route-filename="@Model.Filename" asp-route-index="@index">@Model.Games[index].Result</a></td>
        </tr>
        }
    </tbody>
</table>
